<% script(cdn) %>
<% script(widgets.webRTC.js) %>
<% script(widgets.chat.js) %>
<% script(widgets.userColors.js) %>
<% script('/js/demo.js') %>

<% stylesheet(widgets.webRTC.css) %>
<% stylesheet(widgets.chat.css) %>
<% stylesheet('/css/conference.css') %>
<% stylesheet('/css/conference-android.css') %>

<script type="text/javascript">
  $(document).ready(function() {
    var config = {
      url: '<%= url %>',
      room: '<%= room %>',
      token: '<%= token %>',
      host: '<%= host %>',
      webrtcList: $('#webrtc-list')[0],
      chatContainer: $('#chat-container')[0]
    };

    // Auto Copy
    $('.join-url input').on('click', function() {
      this.select();
    });

    var supported = goinstant.widgets.WebRTC.supported;

    if (!supported) {
      var error = 'Your browser does not support WebRTC. For an up-to-date' +
                  'list of supported browsers please see www.webrtc.org';

      console.log(error);

      return;

    }

    // Setup Demo
    var Demo = window.goinstant.WebRTCDemo;
    var demo = new Demo(config);
    demo.initialize(function(err) {
      if (err) {
        throw err;
      }
    });

    //Mobile Tabs
    var tab = $('#mobile-menu li a');
    var tab_contents = $('.tab-contents');

    $(tab).on('click', function() {
      var target = $(this.rel);

      $(tab_contents).not(target).hide();
      target.toggle();
      $('#mobile-menu ul li.current').removeClass('current');

      $(this).parent().addClass('current');

      $(tab_contents).removeClass('current');
      $(this.rel).addClass('current');

    });
  });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<div class="main">
 <form id="form-id">
 <input name="radio-input" id="play-button" type="radio" value="1"/>
  <input name="radio-input" id="pause-button" type="radio" value="2"/>
  </form>
  <nav id="mobile-menu">
    <ul>
      <li class="current mobile-tab-video"><a href="#" rel="#video-weed">Video</a></li>
      <li class="mobile-tab-chat"><a href="#" rel="#mobile-chat">Chat</a></li>
      <li class="mobile-tab-settings"><a href="#" rel="#mobile-settings">Settings</a></li>
    </ul>
  </nav>
  <div class="leave-modal">
    <p>The room owner has left the conference.</p>
  </div>
  <section class="cf">
    <div id="video-weed" class="video-weed tab-contents current">
    <iframe src="https://www.youtube.com/embed/FKWwdQu6_ok?enablejsapi=1&controls=0" frameborder="0"  id="video"></iframe>
    </div>
    <aside id="mobile-chat" class="tab-contents">
      <div class="join-url desktop">
        <span>Invite</span><input type="text" value="<%= joinURL %>" readonly />
      </div>
      <div id="chat-container" class="chat-container"></div>
    </aside>
    <aside id="mobile-settings" class="tab-contents">
      <div class="join-url mobile">
        <span>Invite</span><input type="text" value="<%= joinURL %>" readonly />
      </div>
      <div>
        <a href="#" class="leave-button mobile">End Conference</a>
      </div>
    </aside>
  </section>
  <div id="webrtc-list" class="webrtc-list mobile-tab-content"></div>
  <a href="#" class="leave-button desktop">End Conference</a>
</div>
<div id="goinstant-header">
  <ul class="gi-links">
    <li class="gi-logo"><a href="https://www.goinstant.com/" target="_blank"><img src="../img/goinstant-white.png" alt="GoInstant Docs"></a></li>
    <li><a href="https://goinstant.com/signup" target="_blank">Sign up free</a></li>
    <li><a href="https://developers.goinstant.com/v1/widgets/audio_and_video/index.html" target="_blank">Docs &amp; API</a></li>
  </ul>
  <ul class="gi-social">
    <li class="gi-label">Share with friends:</li>
    <li><iframe src="../html/github-btn.html?user=goinstant&repo=webrtc&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe></li>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="goinstant" data-text="Cool demo of WebRTC + GoInstant integration for video and audio conferencing" data-url="https://webrtc.goinstant.com/">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^https:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </li>
    <li>
      <div class="g-plusone" data-size="medium"></div>
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      <script type="text/javascript" src="https://cdn.goinstant.net/v1/platform.min.js"></script>
      <script type="text/javascript" src="https://cdn.goinstant.net/widgets/form/latest/form.min.js"></script>

<script type="text/javascript">
// Connect URL
var url = 'https://goinstant.net/28c3f4fe2777/wewatch';

// Connect to GoInstant
goinstant.connect(url, function(err, platformObj, roomObj) {
  if (err) {
    throw err;
  }

  // Create a key to store the form data
  var formKey = roomObj.key('wewatch-test-key');

  // Create a new instance of the widget
  var form = new goinstant.widgets.Form({
    el: document.getElementById('form-id'),
    key: formKey,
    room: roomObj
  });

  form.initialize(function(err) {
    if (err) {
      throw err;
    }
    // Your form should now be initialized!
  });
});
</script>
<script type="text/javascript" src="https://www.youtube.com/player_api"></script>
<script type="text/javascript">
var player;

function onYouTubePlayerAPIReady() {
  // create the global player from the specific iframe (#video)
  player = new YT.Player('video-weed', {
    events: {
      // call this function when player is ready to use
      'onReady': onPlayerReady
    }
  });
}

function onPlayerReady(event) {
  // bind events
  $("input[name='radio-input']").change(function(event){
  event.preventDefault();
  if($(this).val() === '1')
      player.playVideo();
  else
      player.pauseVideo();
  });
  event.preventDefault(); 
}

</script>


    </li>
  </ul>
</div>
<a href="https://github.com/goinstant/webrtc" target="_blank" class="gh-fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
